@charset "utf-8";
/* This css is for mobile web viewing. */

/* Merge bbcode.css here. */
.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}
/*
.sized {
    text-size:;
}
*/
.quotecodeheader {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.codebody {
    background-color: #FFFFFF;
    font-family: Courier new, courier, mono;
    font-size: 12px;
    color: #006600;
    border: 1px solid #BFBFBF;
}

.quotebody {
    background-color: #FFFFFF;
    font-family: Courier new, courier, mono;
    font-size: 12px;
    color: #660002;
    border: 1px solid #BFBFBF;
}

.listbullet {
    list-style-type: disc;
    list-style-position: inside;
}

.listdecimal {
    list-style-type: decimal;
    list-style-position: inside;
}

.listlowerroman {
    list-style-type: lower-roman;
    list-style-position: inside;
}

.listupperroman {
list-style-type: upper-roman;
list-style-position: inside;
}

.listloweralpha {
    list-style-type: lower-alpha;
    list-style-position: inside;
}

.listupperalpha {
    list-style-type: upper-alpha;
    list-style-position: inside;
}
/*  bbcode.css end. */

/* My Own Mobile CSS here */
html, body {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:medium;
	color: #333333;
}
a {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
h1{
    font-size:large;
	font-weight:bold;
	margin: 0;
}
#blog_desc {
	font-size:medium;
	font-style:italic;
}
#wrapper {
	margin:0;
	padding:0;
	font-size:medium;
}
#header {
	margin:0;
	padding: 4px 10px;
	background-color: #484DFF;
	color: #FFF;
}
#header a {
	color: #FFF;
}
.post_entry {
	margin: 4px 0px;
	padding: 4px 10px;
	border-bottom: 1px solid #DDDDDD;
}
.post-misc {
	color: #999999;
	font-size:small;
	margin-bottom:2px;
}
div.post-time, div.post-author, div.post-edit {
	display:inline;
	margin-right: 0.5em;
}
#pagebar {
	font-size:small;
}
#clear {
	clear:both;
	padding:0px;
	height:4px;
}
#page_down a, #page_up a {
	padding:3px;
	margin: 0px 10px;
	display:block;
	border: 1px solid #484DFF;
}
#page_down a:hover, #page_up a:hover {
	background-color: #484DFF;
	color: #FFF;
	text-decoration: none;
}
#page_up {
	float:left;
}
#page_down {
	float:right;
}
#footer {
	font-size:small;
	text-align:center;
	background-color: #484DFF;
	color: #FFF;
	padding: 4px 0px;
}
#footer a{
	color: #FFF;
}