@charset "utf-8";
/* This css is for standard web viewing. */

/* Merge bbcode.css here. */
.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}
/*
.sized {
    text-size:;
}
*/
.quotecodeheader {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.codebody {
    background-color: #FFFFFF;
    font-family: Courier new, courier, mono;
    font-size: 12px;
    color: #006600;
    border: 1px solid #BFBFBF;
}

.quotebody {
    background-color: #FFFFFF;
    font-family: Courier new, courier, mono;
    font-size: 12px;
    color: #660002;
    border: 1px solid #BFBFBF;
}

.listbullet {
    list-style-type: disc;
    list-style-position: inside;
}

.listdecimal {
    list-style-type: decimal;
    list-style-position: inside;
}

.listlowerroman {
    list-style-type: lower-roman;
    list-style-position: inside;
}

.listupperroman {
list-style-type: upper-roman;
list-style-position: inside;
}

.listloweralpha {
    list-style-type: lower-alpha;
    list-style-position: inside;
}

.listupperalpha {
    list-style-type: upper-alpha;
    list-style-position: inside;
}
/*  bbcode.css end. */

/* My Own Standard PC Viewing CSS here */
body {
	padding: 0;
	margin: 0;
	background:#fff;
	color:#222;
	line-height:150%;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Dejavu Sans" , Verdana, Arial, "STHeiti", Hei, "WenQuanYi Zen Hei";
	font-size: 14px;
}
h1 {
	font-size: 1.8em;
	margin:0;
	padding: 0.8em 0;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.1em;
}
p {
	line-height: 1.6em;
}
abbr {
	border-bottom-style: none;
}
a {
	text-decoration: none;
	color:#2971a7;
}
a:visited {
	color: #435769;
}
a:hover, a:active {
	text-decoration: underline;
	color: #333333;
}
img {
	border: none;
}
/*==  The Layout Portion ==*/
.post-content {
	float: right;
	width: 600px;
	padding: 0.8em 6em 0.8em 0;
	text-align:left;
	/*border-top: 1px solid #BBB;*/
}
.post-misc {
	float:left;
	overflow:hidden;
	text-align:right;
	width:200px;
	clear:both;
	padding: 0.8em 0;
}
div#first-post {
	border: none;
}
/*==  Header Portion ==*/

#header {
	background: url(images/logo.jpg) top center no-repeat;
	height: 200px;
	text-indent: -9999px;
}
#header span {
	display:block;
	text-indent: -9999px;
}
#wrapper {
	text-align:center;
	width:900px;
}
#content {
	padding:none;
	margin:none;
	background: url(images/body.jpg) center center repeat-y;
	width: 900px;
	text-align:center;
}
/*  Page Bar */
#pagebar {
	font-size:small;
}
#clear {
	clear:both;
	padding:0px;
	height:4px;
}
#page_down a, #page_up a {
	padding:3px;
	margin: 0px 10px;
	display:block;
	border: 1px solid #484DFF;
}
#page_down a:hover, #page_up a:hover {
	background-color: #484DFF;
	color: #FFF;
	text-decoration: none;
}
#page_up {
	float:left;
	margin-left:5em;
	margin-top:4em;
}
#page_down {
	float:right;
	margin-right:10em;
	margin-top:4em;
}
/*==  Fotter Portion ==*/
#footer {
	padding-top:4.5em;
	margin:0em;
	text-align:center;
	font-size: 0.9em;
	line-height: 4em;
	background: url(images/footer.jpg) top center no-repeat;
}
